body{
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    font-family: fantasy;
}
.container {
    background-color: aliceblue;
    justify-items: center;
    width: 800px;
    height: 450px;
    margin: 5px;
    border: 2px;
    border-style: dashed;
    border-color: black;
    
}

